table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    background-color: blanchedalmond;
}

#loadingContainer {
    text-align: center;
    display: none;
}

th {
    background-color: chocolate;
}